# Add as many wallets as needed
WALLET_1_ADDRESS=0x123...your_address_here
WALLET_1_PRIVATEKEY=abcd...your_private_key_here
WALLET_2_ADDRESS=0x456...another_address_here
WALLET_2_PRIVATEKEY=efgh...another_private_key_here